html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    height: 100%;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide:nth-of-type(1) {
    position: relative;
    background-image: url('https://cdn.jsdelivr.net/gh/puritySupremacy/cjkj@2.2.6/cjkj_micro_scene_1/images/page_1/index.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.swiper-slide:nth-of-type(1) .music-on {
    position: absolute;
    right: .6rem;
    top: .6rem;
    background-color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

.swiper-slide:nth-of-type(1) .music-on>img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

.swiper-slide:nth-of-type(2) {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-image: url("https://cdn.jsdelivr.net/gh/puritySupremacy/cjkj@2.2.6/cjkj_micro_scene_1/images/page_2/page_two_bg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-slide:nth-of-type(2)>.content {
    width: 100%;
    height: 100%;
}

.swiper-slide:nth-of-type(2)>.content>div:nth-of-type(1) {
    height: 20%;
}

.swiper-slide:nth-of-type(2)>.content>div:nth-of-type(1)>img {
    width: 100%;
    height: 100%;
}

.swiper-slide:nth-of-type(2)>.content>div:nth-of-type(2) {
    height: 50%;
    background-color: #fff;
    color: #8A2BE2;
    font-size: .4rem;
    border-radius: .2rem;
}

.swiper-slide:nth-of-type(2)>.content>div:nth-of-type(2)>p {
    border-bottom: .01rem solid #000;
    box-sizing: border-box;
    height: 14.2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide:nth-of-type(2)>.content>.footer {
    height: 30%;
    position: relative;
}

.swiper-slide:nth-of-type(2)>.content>.footer>img {
    height: 100%;
    width: 100%;
}

.swiper-slide:nth-of-type(2)>.content>.footer>span {
    position: absolute;
    background-color: #FFA500;
    opacity: 0.2;
    filter: opacity(20);
    -webkit-box-shadow: 0 0 1.5rem 1.5rem #FFA500;
    box-shadow: 0 0 1.5rem 1.5rem #FFA500;
    width: 1rem;
    height: 1rem;
    display: block;
    left: 47%;
    top: 4%;
    border-radius: 50%;
    animation: scale 1.5s infinite alternate;
    z-index: 99999 !important;
}

@keyframes scale {
    from {
        opacity: 0.5;
        filter: opacity(50);
        transform: scale(.5, .5);
        -ms-transform: scale(.5, .5);
        -moz-transform: scale(.5, .5);
        -webkit-transform: scale(.5, .5);
        -o-transform: scale(.5, .5);
    }
    to {
        opacity: .8;
        filter: opacity(80);
        transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -o-transform: scale(1, 1);
    }
}

.swiper-slide:nth-of-type(3) {
    background-image: url('https://cdn.jsdelivr.net/gh/puritySupremacy/cjkj@2.2.6/cjkj_micro_scene_1/images/page_2/page_two_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-slide:nth-of-type(3)>.showImg {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide:nth-of-type(3)>.showImg>div {
    position: absolute;
    width: 80%;
    height: 80%;
    border: .05rem solid #fff;
    box-sizing: border-box;
}

.swiper-slide:nth-of-type(3)>.showImg>div>img {
    width: 100%;
    height: 100%;
}

.swiper-slide:nth-of-type(3)>.showImg>div:nth-of-type(1) {
    left: 5%;
    top: 5%;
}

.swiper-slide:nth-of-type(3)>.showImg>div:nth-of-type(2) {
    left: 10%;
    top: 10%;
}

.swiper-slide:nth-of-type(3)>.showImg>div:nth-of-type(3) {
    left: 15%;
    top: 15%;
}

.swiper-slide:nth-of-type(3)>.showImg>div:nth-of-type(4) {
    width: 3rem;
    height: 4rem;
    left: 0;
    bottom: 0;
    border: none;
}


/* 4 */

.swiper-slide:nth-of-type(4) {
    background-image: url('https://cdn.jsdelivr.net/gh/puritySupremacy/cjkj@2.2.6/cjkj_micro_scene_1/images/page_2/page_two_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-slide:nth-of-type(4)>.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide:nth-of-type(4)>.container>div:nth-of-type(1) {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 6rem;
    height: 5rem;
}


/* 5 */

.swiper-slide:nth-of-type(5) {
    background-image: url('https://cdn.jsdelivr.net/gh/puritySupremacy/cjkj@2.2.6/cjkj_micro_scene_1/images/page_2/page_two_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-slide:nth-of-type(5)>.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide:nth-of-type(5)>.container>div:nth-of-type(1) {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 6rem;
    height: 5rem;
}


/* 6 */

.swiper-slide:nth-of-type(6) {
    background-image: url('https://cdn.jsdelivr.net/gh/puritySupremacy/cjkj@2.2.6/cjkj_micro_scene_1/images/page_2/page_two_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-slide:nth-of-type(6)>.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide:nth-of-type(6)>.container>div:nth-of-type(1) {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 6rem;
    height: 5rem;
}


/* 7 */

.swiper-slide:nth-of-type(7) {
    background-image: url('https://cdn.jsdelivr.net/gh/puritySupremacy/cjkj@2.2.6/cjkj_micro_scene_1/images/page_2/page_two_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-slide:nth-of-type(7)>.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide:nth-of-type(7)>.container>div:nth-of-type(1) {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 6rem;
    height: 5rem;
}


/* 8 */

.swiper-slide:nth-of-type(8) {
    background-image: url('https://cdn.jsdelivr.net/gh/puritySupremacy/cjkj@2.2.6/cjkj_micro_scene_1/images/page_2/page_two_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-slide:nth-of-type(8)>.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide:nth-of-type(8)>.container>div:nth-of-type(1) {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 6rem;
    height: 5rem;
}


/* 9 */

.swiper-slide:nth-of-type(9) {
    background-image: url('https://cdn.jsdelivr.net/gh/puritySupremacy/cjkj@2.2.6/cjkj_micro_scene_1/images/page_2/page_two_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-slide:nth-of-type(9)>.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide:nth-of-type(9)>.container>div:nth-of-type(1) {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 6rem;
    height: 5rem;
}


/* 10 */

.swiper-slide:nth-of-type(10) {
    background-image: url('https://cdn.jsdelivr.net/gh/puritySupremacy/cjkj@2.2.6/cjkj_micro_scene_1/images/page_2/page_two_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.swiper-slide:nth-of-type(10)>.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.swiper-slide:nth-of-type(10)>.container>div:nth-of-type(1) {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 6rem;
    height: 5rem;
}